body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .nav-wrapper {
    background-color: mediumpurple;
  }

  .page-footer {
    background-color: mediumpurple;
  }

  a {
    color: rebeccapurple;
  }

  .btn {
    background-color: rebeccapurple;
  }

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rebeccapurple;
  }

  input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6333b6;
    -webkit-box-shadow: 0 1px 0 0 #6333b6;
    box-shadow: 0 1px 0 0 #6333b6;
  }

  .dropdown-content li>a, .dropdown-content li>span {
    color: #6333b6;
  }

  div.timepicker-digital-display {
    background-color: #6333b6;
  }

  .datepicker-date-display {
    background-color: #6333b6;
  }